.column {
  float: left;
}

.left {
  margin-left: 5%;
  width: 30%;
  padding: 2%;
  height: 500px;
  text-align: justify;
}

.right {
  margin-right: 5%;
  width: 59%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App {

}

.App .legend {

}

.App .visualization {
  background-color: #f3f3f3;
  min-height: 550px;
}

.btn {
  margin: 0 2.5px 0 2.5px;
}